<div>

<form action = "/yodas" method="POST">
  <p id="write_here">Things to say, give me</p>
    <input type="text" name="words">
    <br>
    <br>
  <button type="submit" value="Submit">Yoda-me</button>
</form>


</div>


