<div>

  <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic-ext,greek,latin-ext' rel='stylesheet' type='text/css'>

<form action = "/yodas" method="POST">
  <p id="write_here">Young Jedi,</p> 
  <p id="write_here">Things to say, give me</p>
  <p id="write_here"> Make me curse, do not</p>
    <input type="text" name="words">
    <br>
    <br>
  <button type="submit" value="Submit" class="btn btn-success">YODAFY</button>
</form>


</div>


