html { 
 background: url(http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2013/11/01.jpg

) no-repeat center center fixed;

 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


div {
   /*width: 800px;
   height: 100px;*/
   display: inline-block;
   text-align: center;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;

   margin: auto;
   margin-top: 300px;
}


#write_here{
   color: white;
   text-transform: uppercase;
   font-size: 250%;
  /* text-align: center;
   align: center;*/
}

/*
text-align:center;
   align:center;

*/
/*

   form {
   display: inline-block;
   text-align: center;
   }


*/
